@font-face {
	font-family:theChildrensPlace;
	src: url('tcp.ttf'),
     	 url('tcp.eot'); /* IE9+ */
}

body {
	background:url(img/tcp_bkg.png) center no-repeat;
	background-size:cover;
	font-family:theChildrensPlace;
}

#tree {
	z-index:1;
	position:absolute;
	top:0;
	left:0;
	background: url(img/tcp_tree_w_txt.png) center no-repeat;
	background-size:contain;
	height:100%;
	width:100%;
}

#logo {
	height:150px;
	width:180px;
	background:url(img/hot_air_balloon.png) center no-repeat;
	background-size:contain;
	position:absolute;
	left:81%;
	top:27%;
	-webkit-transition:-webkit-transform 1s;
	z-index:12;
}

#logo:hover {
	-webkit-transform:translate(-100px, 60px);
}

#branches {
	background: url(img/tcp_tree_w_txt.png) center no-repeat;
	background-size:contain;
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.branchBubble {
	position:absolute;
	-webkit-transition:-webkit-transform 300ms;
	text-decoration:none;
	color:#333;
}

.branchBubble span {
	display:block;
	text-align:center;
}

.branchBubble:hover {
	z-index:5 !important;
	-webkit-transform:scale(1.3);
}

#schoolsAndNurseries {
	z-index:3;
	top:18%;
	left:25%;
	height:140px;
	width:140px;
}

#helpfulResources {
	z-index:2;
	height:110px;
	width:110px;
	top:10%;
	left:30.5%;
}

#parents {
	height: 130px;
	width: 130px;
	top: 13.5%;
	left: 35%;
}

#welcome {
	z-index:3;
	height: 170px;
	width: 170px;
	top: 2%;
	left: 41%;
}

#ourStory {
	z-index:2;
	height:170px;
	width:170px;
	top:4%;
	left:50.5%;
}

#faq {
	z-index:2;
	height:110px;
	width:110px;
	left:60%;
	top:12.5%;
}

#sayHello {
	z-index:3;
	height:150px;
	width:150px;
	top:16%;
	left:65%;
}

.informationBoxWrapper {
	opacity:0;
	display:none;
	-webkit-transition:opacity 1s;
	background:url(img/text_box.png) center no-repeat;
	background-size: contain;
	height: 450px;
	width: 1100px;
	z-index: 10;
	position:absolute;
	padding:75px;
	top:26%;
	left:8%;
}

.informationBoxWrapper.viewing {
	opacity:1;
	display:block;
}

.informationBox {
	overflow-y:auto;
}

.informationBox h1 {
	padding-top:25px;
	padding-left:15px;
}

.informationBox p {
	padding:0 15px;
}



